/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  .custom_navbar {
    width: 100%;
    background-color: white;
    border-bottom: 2px solid gold;
  }
  
  /* Top Part */
  .custom_navbar_user_option{ 
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2px 18px;
    border-bottom: 1px solid #DEE2E6;
    div .header-mini bg-top-bar {
	/* Font & Text */
	font-family: " montserratregular", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(0, 0, 0);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(0, 0, 0);

	/* Box */
	height: 25.993px;
	width: 1262.62px;
	border: ;
	border-top: 0px none rgb(0, 0, 0);
	border-right: 0px none rgb(0, 0, 0);
	border-bottom: 0.934579px solid rgb(222, 226, 230);
	border-left: 0px none rgb(0, 0, 0);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 26px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all;
	outline: rgb(32, 30, 30) dashed 0.934579px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
    }
  }
  .custom_navbar_user_option a{
    text-decoration: none;
    color: black;
  }
  .custom_navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  .logo img {
    width:150px ;
  }
  
  .logo {
    font-size: 28px;
    font-weight: bold;
  }
  
  .logo .highlight {
    color: #C19B52; /* gold color */
  }
  
  .custom_search-box {
    flex: 1;
    margin: 0 30px;
    position: relative;
  }
  
  .custom_search-box input {
	/* Font & Text */
	font-family: " montserratregular", sans-serif;
	font-size: 17px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 25.5px;
	text-decoration: none solid rgb(0, 0, 0);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(245, 245, 245);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(0, 0, 0);

	/* Box */
	height: 46.4807px;
	width: 532.389px;
	border: 0px none rgb(0, 0, 0);
	border-top: 0px none rgb(0, 0, 0);
	border-right: 0px none rgb(0, 0, 0);
	border-bottom: 0px none rgb(0, 0, 0);
	border-left: 0px none rgb(0, 0, 0);
	margin-left: 50px;
	padding: 8px 12px 13px 14px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;
	/* Miscellaneous */
	overflow: clip;
	cursor: text;
	visibility: visible;
	box-shadow: none;
	border-top-left-radius: 31px;
	border-top-right-radius: 31px;
	border-bottom-left-radius: 31px;
	border-bottom-right-radius: 31px;
}
  
  .custom_search-box button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
	/* Font & Text */
	font-family: FontAwesome;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 20px;
	text-decoration: none solid rgb(195, 179, 179);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(195, 179, 179);

	/* Box */
	height: 20.0058px;
	width: 18.5748px;
	border: 0px none rgb(195, 179, 179);
	border-top: 0px none rgb(195, 179, 179);
	border-right: 0px none rgb(195, 179, 179);
	border-bottom: 0px none rgb(195, 179, 179);
	border-left: 0px none rgb(195, 179, 179);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;
	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
  
  
  .custom_user-options {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .custom_user-options a {
	/* Font & Text */
	font-family: " montserratregular", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 21px;
	text-decoration: none solid rgb(33, 37, 41);
	text-align: right;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(33, 37, 41);

	/* Box */
	height: auto;
	width: auto;
	border: 0px none rgb(33, 37, 41);
	border-top: 0px none rgb(33, 37, 41);
	border-right: 0px none rgb(33, 37, 41);
	border-bottom: 0px none rgb(33, 37, 41);
	border-left: 0px none rgb(33, 37, 41);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: 0.5s;
	outline: rgb(33, 37, 41) dashed 0px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
  
  
   .custom_user-options a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: relative;
  } 
  
  .custom_cart-icon {
    position: absolute;
  }
  
  .custom_cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: #C19B52;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
  }
  
  /* Bottom Menu */
  .custom_navbar-bottom {
    background-color: black;
  }
  
  .custom_menu{
    list-style: none !important;
    display: flex !important;
    padding: 10px 30px;
  }
  
  .custom_menu li{
    position:relative !important;
  }
  
  .custom_menu > li{
    margin-right: 30px;
  }
  
  .custom_menu a{
    color: white;
    text-decoration: none;
    padding: 10px 5px;
    display: block;
    font-size: 14px;
  }
  
  /* Dropdown */
  .custom_dropdown-menu {
    display: none;
    position: absolute !important;
    top: 40px;
    background-color: rgb(44, 3, 3);
    list-style: none;
    min-width: 150px;
    border: 1px solid #ccc;
    z-index: 999;
  }
  
  .custom_dropdown-menu li a {
    color: black;
    padding: 10px;
  }
  
  .custom_dropdown:hover .dropdown-menu {
    display: block;
  }
      /* Banner Section  */
  .custom_middle_content_grid{
    display: grid;
  }
  .middle_content_grid img{
    width: 100%;
  }
  